@model IEnumerable<EmployeeDTO>

@foreach (var employee in Model)
{
    <tr>
        <td>
            <img src="~/files/images/@employee.ImageName" class="nova-rounded" style="width: 50px; height: 50px; object-fit: cover;" />
        </td>
        <td>@employee.EmpName</td>
        <td>@employee.Age</td>
        <td>@employee.Email</td>
        <td>@employee.Address</td>
        <td>@employee.Phone</td>
        <td>@Html.DisplayFor(M => employee.Salary)</td>
        <td>
            @if (employee.IsActive)
            {
                <span class="nova-badge nova-badge-success">Active</span>
            }
            else
            {
                <span class="nova-badge nova-badge-danger">Inactive</span>
            }
        </td>
        <td>@employee.HiringDate.ToString("yyyy-MM-dd")</td>
        <td>
            @if (employee.DepartmentName is not null)
            {
                @employee.DepartmentName
            }
            else
            {
                <span class="nova-text-muted">No Department</span>
            }
        </td>
        <td>
            <partial name="_SmallerButtonsPartialView" model="@employee.Id.ToString()" />
        </td>
    </tr>
}